
<div class="index-main">
  <h1>Welcome to my website</h1>
  <p>Would you like to login or sign up?</p>
  <div class="buttons">
    <button class="button"><a href="/auth/signup">Sign Up</a></button>
    <button class="button"><a href="/auth/login">Login</a></button>
  </div>
</div>
