<div class="profile-page">
    <h1>profile page</h1>
<p>Hello, how are you today? <%= user.username %> </p>
<p>Do you like cats or dogs?</p>
<div class="buttons">
    <button class='button'><a href="/funnycat">CAT</a></button>
<button class='button'><a href="funnydog">DOG</a></button>
</div>

</div>
